@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');
:root {
    /* Color */
    --inama-blue: #6AC9F2;
    --inama-green: #9BCB50;
    --inama-yellow: #FBEE41;
    --inama-orange: #F99E2F;
    --inama-red: #EE3153;
    --inama-purple: #A059A3;
    --inama-gray-0: #AEAEAE;
    --inama-gray-1: #CCCCCC;
    --inama-gray-2: #EBEBEB;
    --inama-black: #202020;
    /* Font */
    --inama-nunito: 'Nunito', sans-serif;
    --inama-lato: 'Lato', sans-serif;
    /* Dekstop Text */
    --inama-headline: normal bold 40px/48px 'Nunito', sans-serif;
    --inama-title-b: normal bold 24px/40px 'Nunito', sans-serif;
    --inama-title: normal normal 24px/40px 'Nunito', sans-serif;
    --inama-subtitle-b: normal bold 18px/28px 'Lato', sans-serif;
    --inama-subtitle: normal normal 18px/28px 'Lato', sans-serif;
    --inama-callout: normal bold 16px/19px 'Lato', sans-serif;
    --inama-body-txt: normal normal 16px/28px 'Lato', sans-serif;
    --inama-label: normal normal 12px/24px 'Lato', sans-serif;
    --inama-label-b: normal bold 12px/24px 'Lato', sans-serif;
    --inama-caption: normal normal 14px/24px 'Lato', sans-serif;
    /* Mobile Text */
    --inama-m-headline: normal bold 24px/40px 'Nunito', sans-serif;
    --inama-m-title-b: normal bold 20px/28px 'Nunito', sans-serif;
    --inama-m-title: normal normal 20px/28px 'Nunito', sans-serif;
    --inama-m-subtitle-b: normal bold 18px/24px 'Lato', sans-serif;
    --inama-m-subtitle: normal normal 18px/24px 'Lato', sans-serif;
    --inama-m-callout: normal bold 16px/24px 'Lato', sans-serif;
    --inama-m-body-txt: normal normal 16px/28px 'Lato', sans-serif;
    --inama-m-label: normal bold 14px/20px 'Lato', sans-serif;
    --inama-m-caption: normal normal 14px/20px 'Lato', sans-serif;
}

/* ==================
    GRID SYSTEM
    ==================== */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

.wrapper {
    min-height: 100%;
    position: relative;
}

header {
    padding-top: 4rem;
}

footer {
    position: absolute;
    bottom: 1;
    width: 100%;
    height: fit-content;
}

.container{
    padding-left: 7rem;
    padding-right: 7rem;
}

/* ==================
    GLOBAL CODE
    ==================== */

/* Components - Button */

.btn {
    font: var(--inama-callout);
    letter-spacing: 0.04em;
    text-transform: uppercase;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-green {
    background: linear-gradient(90.97deg, var(--inama-green) -14.59%, #5EC662 195.99%);
    box-shadow: 0px 10px 25px rgba(125, 201, 89, 0.25);
    color: white;
    border-radius: 4px;
}

.btn-green:hover {
    background: var(--inama-blue);
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    color: white;
}

.btn-outline-green {
    background: white;
    color: var(--inama-green);
    border: 1px solid var(--inama-green);
    border-radius: 4px;
}

.btn-outline-green:hover {
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    color: var(--inama-green);
}

.btn-inactive {
    background: var(--inama-gray-2);
    color: var(--inama-gray-1);
    border-radius: 100px;
}

.btn-inactive:hover {
    background: var(--inama-gray-2);
    color: var(--inama-gray-1);
    border-radius: 100px;
}

.btn-inactive-2 {
    background: white;
    color: var(--inama-gray-1);
    border: 1px solid var(--inama-gray-1);
    border-radius: 100px;
}

.btn-inactive-2:hover {
    background: white;
    color: var(--inama-gray-1);
    border: 1px solid var(--inama-gray-1);
    border-radius: 100px;
}

/* Components - Form */

.ico-search-gray {
    display: inline-block;
    background: url(../assets/icon/icon-search-gray.svg) no-repeat center center;
    width: 24px;
    height: 24px;
}

.ico-search {
    display: inline-block;
    background: url(../assets/icon/icon-search.svg) no-repeat center center;
    width: 24px;
    height: 24px;
}

.search-bar, .form-group {
    position: relative;
    height: fit-content;
}

label {
    font: var(--inama-caption);
    margin-bottom: .2rem;
}

.form-command {
    border: 0;
    font: var(--inama-body-txt);
    color: var(--inama-black);
    width: 100%;
    background: white;
    /* Gray 2 */
    border: 1px solid #EBEBEB;
    box-sizing: border-box;
    /* Drop Shadow Card */
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    border-radius: 4px;
    padding: 0.85rem 1.5rem 0.85rem 1.5rem;
    -webkit-appearance: none;
}

.form-command:focus {
    outline: none;
}

.form-command:focus+.line {
    width: 100%;
    background-color: #02add7;
}

.form-command::placeholder {
    color: var(--inama-gray-1);
}

select.form-command option:disabled {
    display: none;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 5px;
}

select.form-command option:hover {
    background-color: red;
}

select.form-command+div+i {
    position: absolute;
    right: 1rem;
    top: 3rem;
}

.line {
    height: 2px;
    width: 0px;
    position: absolute;
    display: inline-block;
    transition: .3s width ease-in-out;
    bottom: 0;
    left: 0;
}

textarea.form-command+.line {
    bottom: .4rem;
}

.search-bar.big-search input {
    padding: 0.85rem 11rem 0.85rem 3.5rem;
}

.search-bar.big-search .ico-search-gray {
    position: absolute;
    left: 1.5rem;
    top: 1.1rem;
}

.search-bar.big-search .btn {
    position: absolute;
    width: 10rem;
    top: 0.5rem;
    bottom: 0.5rem;
    right: 0.8rem;
}

.search-bar.small-search input {
    padding: 0.85rem 4rem 0.85rem 1.5rem;
}

.search-bar.small-search .ico-search {
    position: absolute;
    right: 1.5rem;
    top: 1.1rem;
}

/* Components - Card */

.card {
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    position: relative;
    margin-bottom: 1.5rem;
    width: 100%;
    transition: .3s width ease-in-out;
}

.card-header {
    background: transparent;
    border-bottom: 0;
    padding-top: 1rem;
    padding-bottom: 1rem;
    cursor: pointer;
}

.card-header h4 {
    font: var(--inama-title-b);
    padding-right: 1rem;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.card-body {
    padding-top: 0;
}

/* Components - Card Business */

.card-business .card-title {
    font: var(--inama-subtitle-b);
    color: var(--inama-black);
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.card-business h6 {
    font: var(--inama-label);
    color: var(--inama-gray-0);
    margin-bottom: 0;
}

.card-business .row div:last-child{
    padding-left: .5rem;
}

.card-business .invest-value {
    font: var(--inama-label-b);
    color: var(--inama-black);
}

.card-business .return-value {
    font: var(--inama-label-b);
    color: var(--inama-green);
}

.card-business .investors-value {
    font: var(--inama-label-b);
    color: var(--inama-black);
}

.card-business .btn {
    width: 100%;
    padding-top: 15px;
    padding-bottom: 15px;
}

.progress-bar {
    width: 100%;
    height: 5px;
    border-radius: 50px;
    background: var(--inama-gray-2);
    margin-bottom: 20px;
}


/* Components - Carousel */

.carousel {
    background-color: rgba(204, 240, 255, 0.08);
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.carousel .label-hero {
    font: var(--inama-subtitle);
    color: var(--inama-blue);
}

.carousel .card-business {
    background: transparent;
    box-shadow: none;
    border: none;
}

.carousel .card-business .card-title {
    font: var(--inama-headline);
    color: var(--inama-black);
    margin-top: 0;
    margin-bottom: 1rem;
}

.carousel .card-business h6 {
    font: var(--inama-caption);
    margin-bottom: 0;
}

.carousel .card-business .invest-value {
    font: var(--inama-callout);
}

.carousel .card-business .return-value {
    font: var(--inama-callout);
}

.carousel .card-business .investors-value {
    font: var(--inama-callout);
}

.carousel .image-hero {
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    border-radius: 8px;
    margin-top: 3rem;
}

.carousel-control-prev-icon {
    background-image: url(../assets/icon/ico-arrow-left.svg);
}

.carousel-control-next-icon {
    background-image: url(../assets/icon/ico-arrow-right.svg);
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    width: 40px;
    height: 40px;
}

.carousel-control-next, .carousel-control-prev {
    width: 15%;
}

.carousel-indicators {
    right: unset;
    padding: 0;
    margin: 0;
    position: relative;
    justify-content: start;
}

.carousel-indicators li {
    width: 16px;
    height: 5px;
    background-color: var(--inama-gray-2);
    border-radius: 45%;
    margin-left: 0;
    margin-right: .5rem;
}

.carousel-indicators .active {
    background-color: var(--inama-blue);
}

.carousel .card-body{
    padding:0;
}

/* .carousel .headline{
    padding-left:2.5rem;
    padding-right:2.5rem;
} */


/* ==================
    HEADER SECTION 
    ==================== */

/* NAVIGATION BAR CUSTOM */

.navbar {
    background: white;
    border: 1px solid var(--inama-gray-secondary);
    box-shadow: 0px 8px 16px rgba(201, 216, 223, 0.32);
    padding-top: 0.8rem;
    padding-bottom: 0.8rem;
}

.navbar .navbar-brand {
    padding: 0px;
}

.navbar .nav-item {
    margin-right: 1em;
}

.navbar .nav-link {
    font: var(--inama-body-txt);
    text-decoration: none;
    color: var(--inama-black)!important;
}

.navbar .form-inline a {
    font: var(--inama-callout);
    color: var(--inama-green);
    font-weight: bold;
    letter-spacing: 0.04em;
    text-decoration: none;
    margin-left: 15px;
}

.navbar .form-inline span {
    font: var(--inama-body-txt);
    margin-left: 15px;
    padding-bottom: 0.10rem;
}

.navbar .btn-green {
    padding: 0.5em 2em;
    box-shadow: 0px 2px 6px rgba(106, 201, 242, 0.25);
}

/* .nav-link:after{
    text-align: center;
    content:"\A";
    width:5px;
    height:5px;
    border-radius:50%;
    background: transparent;
    display:block;
    margin: auto;
    margin-top: 10px;
}

.active .nav-link{
    color: #6AC9F2!important;
}

.active .nav-link:after{
    background: #6AC9F2;
} */